

/* ReversalPayments claculator */

.title{
    width:100%;
  }
  
  .container{
    text-align:center;
  }
  xdsza
  .claculatorbox{
    display:grid;
    grid-template-columns: 100%;
    grid-gap:20px;
  }
  
  .claculatorbox .item{
    text-align:left;
  }
  
  .claculatorbox .item select{  
    text-align:left;
    border:none;
    font-size:40px;
    color:#607D8B;
    font-weight:bold;
    outline:none;
    cursor:pointer;
  }
  
  .calcoption{
   font-size: 18px; 
    padding:15px; 
    font-weight:bold;
    background:#2e2046;
  }
  
  .valuefield{
    width:100%;
    border:none;
    font-size:55px;
    font-weight:bold;
    color:#3F51B5;
    outline:none;
  }
  
  /* For Firefox */
  input[type='number'] {
      -moz-appearance:textfield;
  }
  /* Webkit browsers like Safari and Chrome */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  
  @media screen and (min-width:505px){
   .claculatorbox{
    grid-template-columns: 49% 49%;
    }
  }

.content ul{
  text-decoration: none;
  font-size: 
}

/* new login */
main{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

video{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper{
  width: 420px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 30px 40px;


}

.wrapper h1{
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 30px 0;

}

.input-box input{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  border: 2px solid white;
  color: rgb(255, 255, 255);
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
  color: rgb(0, 0, 0);
}

.input-box i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .remember-forget{
  display: flex;
  justify-content: space-between;
  margin: -15px 0 15px;
}

.remember-forget label input{
  accent-color: rgb(0, 42, 255);
  margin-right: 3px;

}

.remember-forget a{
  color: black;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.remember-forget a:hover{
  border-bottom: 2px solid white;
}

.wrapper .btn{
  width: 100%;
  height: 45px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .btn:hover{
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.wrapper .register-link{
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  margin: 20px 0 15px;
}

.register-link p a{
  color: white;
  text-decoration: underline;
  font-weight: 600;
}

.register-link p a:hover{
  text-decoration: none;
}

/* new login ends */

/* bacgound video for login */

main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #c9d6ff;
  background: linear-gradient( to right, #b92626);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
  
}
.container-login{
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0, 35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.container-login p{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;

}

.container-login span{
  font-size: 12px;

}

.container-login a{
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container-login button{
  background-color: rgb(0, 0, 170);
  color: #fff;
  font-size: 12px;
  padding: 10px, 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container-login button.hidden{
  background-color: transparent;
  border-color: #fff;

}

.container-login form{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: centerflex;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;

}

.container-login input{
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100px;
  outline: none;

}

.form-container{
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in{
  left: 0;
  width: 50%;
  z-index: 2;
}

.video-bg{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

}

.container.active .sign-in{
  transform: translate(100%);

}

.sign-up{
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.active .sign-up{
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;

}

@keyframes move{
  0%, 49.99%{
    opacity: 0;
    z-index: 1;
  }
  50%, 100%{
    opacity: 1;
    z-index: 5;
  }
}

.social-icons{
  margin: 20px 0;

}

.social-icons a{
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 100;

}

.container.active .toggle-container{
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle{
  background-color: #512da8;
  height: 100%;
  background: linear-gradient(to right, #583232,blue );
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle{
  transform: translateX(50%);

}

.toggle-panel{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;

}

.toggle-left{
  transform: translateX(-200%);
}

.container.active .toggle-left{
  transform: translateX(0);
}

.toggle-right{
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right{
  transform: translateX(200%);
}

/* bacgound video for login  ends*/




/* login */

/* .layout__box {
  width: 90%;
  max-width: 48rem;
  min-height: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46%);
  background-color: var(--color-dark);
  border-radius: 1rem;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.layout__boxHeader {
  display: flex;
  padding: 1.5rem;
  background-color: var(--color-dark-light);
}

.layout__boxTitle {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.layout__boxTitle h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-light);
}

.layout__boxTitle svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-main);
}

.layout__body {
  margin: 3rem;
}

@media screen and (max-width: 900px) {
  .activities,
  .topics {
    display: none;
  }

  .layout--3 > .container > div:nth-child(2) {
    flex-basis: 100%;
  }
}
 */

/* login ends */
